{% stylesheets "@DFReportersBundle/Resources/public/css/reporters.css" %}
	<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}

<div id="reporters">
	<div id="title-ribbons-reporters" class="title-ribbons"> 
		<h1>REPORTERS<span class="arrow"></span> </h1>
		<div class="center" >Bientôt disponible</div>
	</div>
</div>