#calendrier-club {
	width: 802px;
}

#calendrier-club table tr td.equipe {
	line-height: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#calendrier-club table tr td.equipe img {
	vertical-align: top;
}

#calendrier-club thead tr {
	color: #444;
}

#calendrier-club thead th {
	font-size: 12px;
}

#calendrier-club tbody tr {
	border-spacing: 0;
	background-color: #f9f9f9;
}

#calendrier-club .font1 {
	font-weight: bold;
}

#calendrier-club tbody tr td {
	padding: 10px 0;
	font-size: 15px;
}

#calendrier-club .journee {
	padding-left: 20px;	
}

#calendrier-club .date {
	padding-left: 10px;
}

#calendrier-club table thead tr td {
	font-size: 12px;
}

/**DERNIER MATCH**/
#dernier-match {
	width: 410px;	
	margin-top: 25px;
	display: inline-block;
}

#content-dernier-match .club-last-result {
	display: inline-block;
	width: 150px;
	text-align: center;
}

#content-dernier-match #score {
	width: 100px;
	display: inline-block;
	vertical-align: top;
}

#content-dernier-match #score p {
	padding-top: 40px;
	font-size: 35px;
	text-align: center;
}

#dernier-match #feuille-match {
	padding-top: 25px;
	text-align: center;
}

#dernier-match #feuille-match a {
	padding: 10px;
	background-color: #444;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#title-ribbons-dernier-match h1 {
	width: 200px;
}

#title-ribbons-dernier-match {
	height: 310px;
}

/**CLASSEMENT**/
#classement {
	width: 340px;
	margin-left: 25px;
	margin-top: 25px;
	display: inline-block;
	vertical-align: top;
}

#classement #title-ribbons-classement h1 {
	width: 140px;
}

#classement table#tab-classement th {
	color: #444; 
	font-size: 11px;
	border: none;
}

#classement-club  thead th {
	font-size: 12px;	
}

#classement table#tab-classement td {
	text-align: center;
	padding: 5px;
}

#classement table#tab-classement td.left {
	text-align: left;
}

#classement table#tab-classement td.left img {
	float: left;
	padding-top: 2px;
}

#classement table#tab-classement td.left span {
	padding-left: 5px;
}

#classement #classement-complet {
	text-align: right;
	margin-right: 10px;
	padding-bottom: 30px;
}

#classement #classement-complet a {
	text-decoration: none;
	color: #700114;
	font-weight: bold;
}

#classement table#tab-classement {
	width: 100%;
	font-size: 12px;
	color: #444;
}

#classement #title-ribbons-classement .center {
	text-align: center;
	line-height: 140px;
	color: rgb(173, 173, 173);
}

#classement-club img {
	float: left;
	width: 30px;
}

#classement-club tbody tr td {
	padding: 10px 0;
}

#classement-club tbody tr {
	border-spacing: 0;
	background-color: #f9f9f9;
}

#classement-club thead tr {
	color: #444;
}

#classement-club .position {
	padding-left: 25px;
	width: 80px;
}

#classement-club .font1 {
	font-size: 15px;
	font-weight: bold;
}

#classement-club .font2 {
	font-size: 15px;
}

#classement-club .logo {
	width: 50px;
}

#classement-club .club {
	width: 180px;
}

#classement-club .th-position {
	padding-left: 25px;
}