{% extends 'DFHomeBundle::layout.html.twig' %}

{% block contentBody %}
<div id="zone-left">
{% block zoneLeft %}
{% endblock %}
</div>
<div id="zone-right">
{% block zoneRight %}
{% endblock %}
</div>
{% endblock %}