{% extends "FOSUserBundle::layout_70_30.html.twig" %}

{% block fos_user_content %}
<h1>Modifier mon profil</h1>
<hr>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}

{% block zone_right %}
<div id="comment-module">
	<div class="title-ribbons">
		<h1>
			DERNIERS COMMENTAIRES
			<span class="arrow"></span>
		</h1>
		<p>Bientôt disponible</p>
	</div>
</div>
{% endblock %}