{% extends "FOSUserBundle::layout_70_30.html.twig" %}

{% block fos_user_content %}
<h1>Mon profil</h1>
<hr>
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
<a href="{{ path('fos_user_profile_edit') }}">Modifier profil</a>
<a href="{{ path('fos_user_change_password') }}">Modifier mot de passe</a>
{% endblock fos_user_content %}

{% block zone_right %}
<div id="comment-module">
	<div class="title-ribbons">
		<h1>
			DERNIERS COMMENTAIRES
			<span class="arrow"></span>
		</h1>
		<p>Bientôt disponible</p>
	</div>
</div>
{% endblock %}