html {
	padding: 0;
}

body {
	margin: 0;
	font: 14px/24px helvetica, arial, sans-serif;
	color: #444;
	background-color: #f2f2f2;
}


h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 35px;
	color: rgb(68, 55, 55);
	margin: 0;
}

.h1-entete {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #777;
	margin-bottom: 20px;
	background: rgb(241, 241, 241);
	margin-top: 10px;
	padding: 5px 5px;
}

#header {
	width: 100%;
	margin: 0;
	left: 0;
	right: 0;
	padding: 0;	
	background: url('/bundles/dfhome/images/font-header.png') left top repeat-X
	position: absolute;
	height: 70px;
	box-shadow: 0 0 10px 1px #929292;
}

#header #content {
	width: 1280px;
	padding: 0;
	margin: 0 auto;
}

#content-body {
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	padding-top: 190px;
	box-shadow: 0 0 10px 1px #929292;
	background-color: #fff;
}

#content-padding {
	padding: 0 25px 50px 25px;
}

#chouette {
	margin-top: 5px;
	width: 250px;
	margin-left: 20px;
}

#chouette-name {
	position: absolute;
	margin-top: 55px;
	margin-left: -45px;
}

#txt-chouette {
	color: #700114;
	font-weight: bold;
	font-size: 10px;
	margin-top: 115px;
	margin-left: -15px;
	position: absolute;
}

#zone-left {
	width: 790px;
	display: inline-block;
}

#zone-right {
	width: 400px;
	display: inline-block;
	vertical-align: top;
	margin-left: 35px;
}

/**HOME**/
#left-top {
	display: inline-block;
	vertical-align: top;
	float: right;
}

#center {
	display: inline-block;
}


/**SLIDE**/
#slide {
	width: 780px;
	position: relative;
	height: 351px;
	background: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	box-shadow: 0 0 10px 1px #929292;
}

#slide #frag {
	position: relative;
	text-align: right;
	padding-right: 92px;
	z-index: 100;
	margin-top: -55px;
	font-size: 30px;
	color: #fff;
}

#slide .ui-tab-left {
	position: absolute;
	top: 0;
	left: 550px;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 250px;
}

#slide .ui-tab-left li {
	height: 116px;  
	font-size:12px; 
	color:#666; 
}

#slide .ui-tab-left .bb-grey {
	border-bottom: 1px solid #f2f2f2;
}

#slide .ui-tabs-panel{ 
	height: 351px;
	background: #999;
	position: relative;
	overflow: hidden;
}

#slide .ui-tabs-panel img { 
	float: left;
	position: absolute;
}

#slide .ui-tabs-panel .info {
	height: 100%;
	background: url('/bundles/dfhome/images/font-slide.png') repeat-y 0 0;
	z-index: 10;
	position: absolute;
	width: 100%;
}

#slide .ui-tabs-panel .info .txt {
	margin-top: 100px;
	margin-right: 40px;
	float: right;
	vertical-align: middle;
	width: 180px;
	border-top: 6px solid #fff;
	border-bottom: 6px solid #fff;
	padding: 10px 0;
}

#slide .ui-tabs-panel .info .txt p {
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

#slide .ui-tabs-panel .info .txt p span.title {
	font-size: 25px;
}

#slide .ui-tabs-hide{ 
	display:none; 
}

#slide .txt .title a {
	text-decoration: none;
	color: #fff;
}

#slide #frag span {
	cursor: pointer;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

/** MENU **/
header #menu {
	height: 70px;
	width: 980px;
	position: absolute;
	margin-left: 300px;
}

header ul#fancyNav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	height: 70px;
	width: 980px;
}

header ul#fancyNav li {
	float: left;
	display: block;
	position: relative;
	text-align: center;
	line-height: 70px;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	width: 163px;
	height: 70px;
	z-index: 1000;
}

header ul#fancyNav li a {
	width: 157px;
}

header #saison {
	margin-left: -326px;
}

header #supporters {
	margin-left: -652px;
}

header #club {
	margin-left: -489px;
}

header #club ul li {
	padding: 10px 0;
	height: 50px;
	width: auto;
	cursor: pointer;
}

header #club ul li div {
	line-height: 50px;
	padding: 0 20px;
}

header #club ul li div.bd_left {
	border-left: 1px solid rgb(99, 99, 99);
}

header #club ul li div.bd_right {
	border-right: 1px solid #1f1f1f;
}

header #supporters ul li {
	padding: 10px 0;
	height: 50px;
	width: auto;
	cursor: pointer;
}

header #supporters ul li div {
	line-height: 50px;
	padding: 0 20px;
}

header #supporters ul li div.bd_left {
	border-left: 1px solid rgb(99, 99, 99);
}

header #supporters ul li div.bd_right {
	border-right: 1px solid #1f1f1f;
}

header li img {
	float: left;
}

header li img#last {
	float: right;
	margin-top: -70px;
}

header .tab-content {
	background-color: rgb(51, 51, 51);
	width: 980px;
	height: auto;
	float: left;
	border-top: 5px solid #fff;
	display: none;
}

header #saison .content {
	padding: 10px;
}

header .module {
	width: 32%;
	display: inline-block;
	vertical-align: top;
}

header .elem {
	line-height: 30px;
	font-weight: normal;
}

header h3.titre {
	font-size: 18px;
	margin: 0;
}

/** Table **/
#content-body table.styl{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#content-body table.styl .picture img{
	margin: 7px;
	padding: 0px;
}
#content-body table.styl h1, #content-body table.styl h2, #content-body table.styl h3, #content-body table.styl h4, #content-body table.styl h5{
	display: inline;
}

#content-body table.styl thead tr th{
	font-weight: bold;
	color: #151515;
}
#content-body table.styl thead tr th a{
	color: #151515;
}
#content-body table.styl tbody tr td{
	height: 30px;
	vertical-align: middle;
	border-bottom: 1px solid #DADADA;
}

#content-body table.styl tbody tr td.actions{
	text-align: right;
	padding-right: 10px;
	width: 70px;
}
#content-body table.noalt tbody tr td{
	background-color: transparent !important;
}
#content-body table.noborder tbody tr td{
	border: none;
}
#content-body table.styl tbody tr td img{
	padding-right: 5px;
}

/**CONNEXION**/
#connect {
	display: inline-block;
	float: right;
	margin-top: 100px;
	margin-right: 25px;
}

#connect li {
	list-style: none;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	padding: 0 10px;
}

#connect li.border-right {
	border-right: 1px solid #700114;
}

#connect li a {
	text-decoration: none;
	color: #700114;
}

/**FORM**/
input {
	border:0; 
	padding:5px; 
	font-family:Arial, sans-serif; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
}

input[type="submit"], input[type="button"], button {
	padding: 9px 28px;
	font-size: 13px;
	line-height: 15px;
	border-radius: 4px;
	background: linear-gradient(#fff,#ebebeb);
	cursor: pointer;
	color: rgb(155, 155, 155);
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
	 background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	 color: #444;
}

input[type="submit"]:active, input[type="submit"]:active, button:active {
	position: relative;
	top: 1px;
}

label {
	width: 200px;
	display: inline-block;
}

.title-ribbons {
	margin: auto;
	padding-top: 10px;
	font-family: helvetica, arial, sans-serif;
	box-shadow: 1px 1px 12px #555;
}

.title-ribbons h1 {
	background: url('/bundles/dfhome/images/font-header.png') left top repeat-X;
	padding: 10px 20px;
	margin-left: -20px;
	font-size: 20px;
	margin-top: 0;
	position: relative;
	width: 30%;
	box-shadow: 1px 1px 3px rgb(12, 1, 1);
	text-shadow: 0 1px 0 black;
	color: #fff;
	text-shadow: 0 1px 0 white;
}

.title-ribbons .arrow {
	 width: 0; height: 0;
	 line-height: 0;
	 border-left: 20px solid transparent;
	 border-top: 15px solid rgb(177, 17, 17);
	 top: 101%;
	 left: 0;
	 position: absolute;
}

/**FOOTER HOME**/
footer#home-footer {
	margin-top: 0px;
	padding-top: 15px;
	box-shadow: 0 0 10px 1px #929292;
	padding: 15px 0;
	background-color: rgb(51, 51, 51);
	color: #fff;
}

footer#home-footer #content {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

footer#home-footer ul.menu {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	list-style: none;
}

footer#home-footer ul.menu li {
	line-height: 20px;
}

footer#home-footer ul.menu li.title {
	font-weight: bold;
	margin-bottom: 15px;
	padding-left: 8px;
}

/**PUBLICITE**/
#pub-carre {
	text-align: center;
	line-height: 250px;
	width: 250px;
	height: 250px;
	border: 1px solid #f1f1f1;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

hr.cl {
	clear: both;
	visibility: hidden;
}

#left-content {
	display: inline-block;
	vertical-align: top;
	float: right;
}

/**STYLE MISE EN FORME**/
blockquote {
	clear: both;
	margin-left: 10px;
	border-left: 4px solid #444;
	padding-left: 10px;
	font-style: italic;
}